body {
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 36px;
}

h2 {
    color: #451c7a;
    font-size: 28px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 23px;
}

.subheading {
    display: block;
    font-size: 20px;
    color: #d0aaff;
}

.section-two h2 {
    color: inherit;
}



.li-green{background-color:#E5FDEA}
.li-yellow{background-color:#FCFDD6}
.li-blue{background-color:#E5F9FE}
.li-pink{background-color:#FCF1FE}
/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff; 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 46px 0;
}



header, 
.section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    margin-bottom: 32px;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 310px;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #5f29a3;
}
 
.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner input {
    outline: none;
}

.modal-inner-loading{
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.modal-choice-btns-reverse{
    flex-direction: row-reverse;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name{
    color: fuchsia;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

.idiot-gif{
    width: 95%;
    margin: 0 auto;
}

.idiot-gif img{
    box-shadow: 1px 1px 3px #999;
    border-radius: 5px;
}


@media (max-width:600px){
    body {
        width: 100%;
    }

    h1 {
        color: whitesmoke;
        font-size: 27px;
    }
    
    h2 {
        color: #451c7a;
        font-size: 25px;
        margin-top: 0;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        line-height: 20px;
    }
    header, section, footer {
        padding: 18px 0;
    }

    .subheading {
        display: block;
        font-size: 18px;
        color: #d0aaff;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .section-two-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feature-image {
        width: 100%;
        border-radius: 4.6px;
        margin-bottom: 15px;
    }
    
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .modal-inner{
        width: 290px;
        /* margin: 0 auto; */
        margin-left: 20px;
        
    }
    
}